h1{
    background-color: blue;
}
p{
    color: red;
}
form{
    border: 1px solid black;
}
body{
    text-align: ;
}
h2{
    line-height: 0.0;
}
div h2{ 
    color: aqua;
    background-color:pink;
}
h2{
    background-color: aqua;
}
div{
    background-color: ;
}