#mainTopic{
    color: blue;
}
*{
    text-align: center;
}
h1,h2,h3{
    font-family: georgia;
}
.content{
    color: white;
    background-color: cornflowerblue;
}
div button{
    background-color: purple;
    color: azure;
}
